<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta author="Alternative Visual Games">

<link rel="stylesheet" href="{{site.url}}/assets/bootstrap-4/css/bootstrap.min.css">
<link rel="stylesheet" href="{{site.url}}/assets/bootstrap-4/css/bootstrap-grid.min.css">
<link rel="stylesheet" href="{{site.url}}/assets/bootstrap-4/css/bootstrap-reboot.min.css">
<link rel="stylesheet" href="{{site.url}}/assets/css/style.css"/>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>