<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
<script>
    var scene = document.getElementById('scene');
    var parallaxInstance = new Parallax(scene, {
        relativeInput: true,
        pointerEvents: true
    });
    document.body.onload = function (){
        for(i = 0; i<scene.children.length; i++){
            scene.children[i].style.position = null;
        }
        setTimeout(
        function () {   
            var preloader = document.querySelector(".preloader");
            var loader = document.querySelector(".loader");
            if (!preloader.classList.contains("ok")) {
            preloader.classList.add("ok");
            }
            if (!loader.classList.contains("ok")) {
            loader.classList.add("ok");
            }
        }, 1000
        );
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{{site.url}}/assets/bootstrap-4/js/bootstrap.bundle.min.js"></script>
<script src="{{site.url}}/assets/bootstrap-4/js/bootstrap.min.js"></script>
<script src="{{site.url}}/assets/js/main.0.js"></script>


