@import url('https://fonts.googleapis.com/css?family=Jura&display=swap');

/*
font-family: 'Jura', sans-serif;
*/

:root {
    --mouseX: 50%;
    --mouseY: 50%;
}

html, body{
    /* background-color: black; */
    /* -moz-user-select: none; */ /* Firefox */
    /* -ms-user-select: none; */ /* Internet Explorer */
    /* -khtml-user-select: none; */ /* KHTML browsers (e.g. Konqueror) */
    /* -webkit-user-select: none; */ /* Chrome, Safari, and Opera */
    /* -webkit-touch-callout: none; */ /* Disable Android and iOS callouts*/
}

.container-cover {
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    overflow: hidden;
}

.bg-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/images/background_blur.jpg);
    background-position: var(--mouseX) var(--mouseY);
    background-repeat: no-repeat;
    background-size: auto 150%;
}

.countdown{
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'Jura', sans-serif;
    text-shadow:    2px     -1px    2px    rgba(255, 200, 0, 0.5),
                    -2px    1px     2px    rgba(10, 200, 255, 0.5),
                    4px     -1px    5px    rgba(255, 10, 10, 0.4),
                    -4px    1px     5px    rgba(10, 50, 255, 0.4); 
    color: white;
    align-items: stretch;
}

.preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,1);
    z-index: 999;
    overflow: hidden;
}

.ok {
    opacity: 0;
    -webkit-transition: opacity 5s ease-out;
    -moz-transition: opacity 5s ease-out;
    -ms-transition: opacity 5s ease-out;
    -o-transition: opacity 5s ease-out;
    transition: opacity 5s ease-out;
    pointer-events: none;
}

.preloader .loader{
    color: #fff;
    font-family: 'Jura', sans-serif;
    text-shadow:    2px     -1px    2px    rgba(255, 200, 0, 0.5),
                    -2px    1px     2px    rgba(10, 200, 255, 0.5),
                    4px     -1px    5px    rgba(255, 10, 10, 0.4),
                    -4px    1px     5px    rgba(10, 50, 255, 0.4); 
    transition: 0.5s ease-out;
}
.preloader .loader span::after{
    content: '.';
    animation: dots 2s linear infinite;
}

.asize{
    font-size: 3rem;  
}
.isize{
    font-size: 1rem; 
}

@media (min-width: 480px) {
    .asize{
        font-size: 3.5rem;  
    }
}
@media (min-width: 768px) {
    .asize{
        font-size: 5rem;  
    }
}
@media (min-width: 1224px) {
    .asize{
        font-size: 6rem;  
    }
}
@media (min-width: 1600px){
    .asize{
        font-size: 7rem;  
    }
}

@keyframes glow {

}

@keyframes dots {
    0%, 20% {
      content: ".";
    }
    40% {
      content: "..";
    }
    60% {
      content: "...";
    }
    90%, 100% {
      content: "";
    }
}
