<!DOCTYPE html>
<html id="fade" oncontextmenu="return false"> <!-- oncontextmenu="return false" -->
<head>
    {% include head.html %}
    <title>{{site.title}}</title>
    {% if page.url == "/404.html" %}
    {% endif %}
</head>
<body>
    <div class="preloader d-flex flex-column justify-content-center">
        <div class="loader text-center">
            loading<span></span>
        </div>
    </div>
    <div class="container-cover">
        <div class="bg-image"></div>
        <div class="countdown d-flex flex-column justify-content-center m-0 text-center" id="scene" >
            <div data-depth="0.1">The Stumbling Block</div>
            <div data-depth="0.2" class="asize" id="countdown">00:00:00</div>
        </div>
    </div>
    {%- if site.data.common.cda.announcement -%}
        <template>
            <div class="isize">
                <h2>Работаем...</h2>
                <p>Мы все еще работаем! Спасибо, что присматриваете за котом :з</p>
                <br>
                <img src="assets/images/Animated-head-bobbing-cat-with-headphones-3.gif" width="200px">
                <br>
                <video src="https://psv4.vkuseraudio.net/c815327/u393564361/audios/a9d2b8f3ef46.mp3?extra=95X0qyMr-ShX_koyOxxVKtgkVAND8JatncR8xG9OOz40Du2yDFLIwlhvs3hnJBUWuF9ElUJ2zOG8ZyJS330hX1YWesvfxDk0Abc7P659J34nnxghb4RHTsEpRo7ufPnS_lC9iorjC2rZLOEQH33DrTWD&long_chunk=1#FILENAME/%D0%9D%D0%B5%D0%B8%D0%B7%D0%B2%D0%B5%D1%81%D1%82%D0%B5%D0%BD%20-%20amb1.mp3" controls="controls" autoplay="autoplay" loop="loop" onloadstart="this.volume=0.4" style="margin-top: 2rem;" width="45%" height="40"></video>
                <br>
                <p>amb1.mp3 [wip]</p>
            </div>
        </template>
    {%- endif -%}
    <!-- Scripts -->
    {% include scripts.html %}
</body>
</html>

